<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
    <script defer src="https://hiteshsubnani0128.github.io/Live-school/face-api.min.js"></script>
    <script defer src="script.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            /* width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center; */
        }

        canvas {
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="avatars-wrap m-0">
        <div class="avatars-bg"></div>
        <div class="avatars-content ">
        <h1 class="section-heading text-center ">Alpha Sanctuary chatbot</h1>
        <h4 class="font-thin text-center">"It’s so easy to connect with your visitors using a chatbot. You can learn what they need and get your customer information in just a few minutes."</h4>
      
        </div>
        </div>

    <section class="happy sad neutral surprised fearful">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  text-center" >


                    <div class="row">
                        <div class="col-lg-5">

                     
                                <video id="video" width="520" height="500" autoplay muted ></video>
                     
                           
                        </div>

                        <div class="col-lg-4" style="margin-left: 100px; margin-top: 200px;">
                            <div class="container">
                                <div class="row justify-content-center">

                                    <div class="col-md-12 text-center">
                                        <h1 id="emotion" >hello</h1>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
               
                           
                          
                        
                        
                          

                       
                </div>
            </div>


           
        </div>
    </section>

    <br>
    <br>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <iframe allow="microphone;" width="350" height="530" 
                    src="https://console.dialogflow.com/api-client/demo/embedded/7432bb21-fdbc-4552-9ed4-243024d7b0c2">
                </iframe>
                </div>
            </div>
        </div>
    </section>




</body>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</html>











<style>
    * {
    box-sizing: border-box;
}
.avatars-wrap {
    position: relative;
    margin-top: 100px;
    overflow: hidden;
    background-color: #1b0c48;
    margin: 50px 0 30px;
    width: 100%;
    height: 280px;
}


.avatars-bg {
    background-image: url(static/avatars.png);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .2;
}
.avatars-content {
    position: relative;
    padding-top: 70px;
    text-align: center;
}
.avatars-content h1, .avatars-content h4 {
    color: #fff;
    max-width: 900px;
}
.avatars-content h1 {
    font-weight: 500;
    margin: auto;
}
.avatars-content h1, .avatars-content h4 {
    color: #fff;
    max-width: 900px;
}
.avatars-content h4 {
    margin: 10px auto;
}

</style>


<style>
    
    .sad
    {
        background-color: #64487b ;
        transition: ease 0.5s;
    }
    .neutral 
    {

        background-color: #d09a6e ;
        transition: ease 0.5s;
    }
    .surprised
    {
        background-color: #b05d7a ;
        transition: ease 0.5s;
    }
    .fearful
    {
        background-color: #e0d478;
        transition: ease 0.5s;
    }
    .happy
    {
        background-color: #9dd6ac ;
        transition: ease 0.5s;
    }
</style>